<template>
      <div class="row">
          <div class="wrapper">
              <section class="columns">
	                <div class="column" v-bind:style="{backgroundColor:color}">
                        <h2>{{color}}</h2>
                        <p>Welcome</p>
                    </div>
              </section>
           </div>
     </div>
</template>

<script>
export default{
 props:["color"]
}
</script>

<style>
*{
    box-sizing: border-box;
}
@media only screen and (max-width:600px){
    wrapper {
        padding: 5px;
        max-width: 960px;
        width: 95%;
        margin: 20px auto;
    }
}
@media only screen and (max-width:600px){
    .columns {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 5px 0;
    }
}
@media only screen and (max-width:600px){
    .column {
        flex: 1;
        border: 1px solid gray;
        margin: 2px;
        padding: 10px;       
    }
}

</style>