<template>
<div>
  <div v-for="col in colors" :key="col">
  <child v-bind:color="col"></child>
  </div>
</div>
</template>

 

<script>
import child from './Child.vue';

export default {
 data() {
     return {
         colors : ['red','blue','violet','pink']
     }
 },
    components : {
        "child" : child
    }
}
</script>

<style>

</style>