<template>
  <div>  
      <owt-parent></owt-parent>
  </div>
</template>
<script>
  import Parent from './task5/Parent.vue';

export default {
  name:'app',
  components:{
    "owt-parent":Parent,
  }
}
</script>

<style>

</style>
