<template>
    <div>
        <ul>
              <li v-for="Count in Counts" :key="Count">{{Count}}</li>
        </ul>
    </div>
</template>
<script>
export default { 
  name: 'app',
  data () {
    return {
       Counts:["1","2","3","4","5"]
    }
  },
    methods:{

    }
}
</script>