<template>
    <div>
        <h3> Counter : {{ counter }} </h3>
       <button type="button" v-on:click="increment" name="button">Increment</button>
       <button type="button" v-on:click="decrement" name="button">decrement</button>
    </div>
</template>
<script>
export default {
  
  name: 'app',
  data () {
        return{
                counter:0
        }
  },
    methods:{
        increment:function(){
            this.counter++;
        },
        decrement:function(){
            this.counter--;
        }

    }
}
</script>