<template>
  <div>      
    <div v-for="user in users" :key="user">
        <h1>{{user}}</h1>
    </div>
  </div>
</template>

<script>
export default {
    name: 'app',
    data() {
      return {
        arr: ["red-110001","blue-110002","pink-110003","yellow-110004"],
        users: []
      }
  },
  methods: {
    getPinCode(pin) {
      let code = pin.split('-')[1];
      fetch("https://api.postalpincode.in/pincode/" + code )
      .then(res => res.json())
      .then(json => {
        for(let i=0;i<json.length;i++){
          this.users.push(json[0].PostOffice[0].Name)
        }
      })      
      .catch(function(error){
          console.log(error);
      })
    },
    setPincode(){
      for(var i=0;i<this.arr.length;i++){
        this.getPinCode(this.arr[i]);
      }
    }
  },
  created(){
    this.setPincode();
  },
}
</script>

<style>
</style>
