<template>
    <div>
     <p  v-for="sociallink in sociallinks">{{sociallink}}</p>
    </div>
</template>
<script>
export default {
  
  name: 'app',
  data () {
    return {
      sociallinks:["google.com","fb.com","yahoo.com"]
    
    }
  },
    methods:{

    }
}
</script>