<template>
  <div  id="app">  
       <div class="container">
              <h1> Task-7</h1>
              <owt-parent></owt-parent>
        </div>
  </div>
</template>

<script>
import Parent from './task7/Parent.vue';
export default {
    name:'app',
    data() {
      return{
        rupees:1,
        doller:69.04
      }
    },
    components:{
    "owt-parent":Parent,
  },
}
</script>

<style>
.container {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
</style>
