<template>
    <div>
        <div v-for="x in Votes" :key="x">
              <div v-if="x>=18">Congrutulations... Your age is {{x}} so you can vote</div>
               <div v-else>Sorry!!! Your age is {{x}} so you can't vote</div>
         </div>
    </div>
</template>
<script>
export default {
  name: 'app',
  data () {
    return {
       Votes:["19","15","73","18","23","10"]
    }
  },
    methods:{

    }
}
</script>