<template>
  <div  id="app">  
        <div class="container">
                <h1> Task-8</h1>
            Rs.<input type="text"  v-model="rupees"><br/><br/>
            $  <input type="text" v-model="doller"><br/>
        </div>
  </div>
</template>

<script>
export default {
    name:'app',
    data() {
      return{
        rupees:1,
        doller:69.04
      }
  },
  watch:{
          rupees: function(val){
          this.rupees=val;
          this.doller=val*69.04;
           },
          doller: function(val){
          this.doller=val;
          this.rupees=val/69.04;
          }       
  }
}
</script>

<style>
.container {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
</style>
