<template>
      <div>
                
                <form  class="review-form" @submit.prevent="onSubmit">
                    Name: <input type="text" name="name" v-model="name" required><br/><br/>
                    Age:  <select name="age" v-model="age" required>
                             <option v-for="age in ages" :key="age" v-bind:value="age">{{age}}</option>
                        </select>  <br/><br/>

                    City:<ul>
                        <li v-for="place in places" :key="place">
                        <input type="radio" name="city" v-model="city" :value="place" required> {{place}}
                        </li> 
                    </ul>

                    <input type="submit" name="submit">
                </form>
                
       </div>    
 
</template>

<script>
export default{
 data() {
     return {
         places : ['Gurgaon','Dehradun','Bangalore'],
         minage:25,
         maxage:65,
         ages:[],
         name: null,
         age: null,
         city: null
    
     }
    },
     mounted(){
         let i=this.minage;
         for(i; i<=this.maxage; i++){
             this.ages.push(i);
         }
     },
     methods:{
        onSubmit() {
            if(this.name && this.age){

                let userdata={
                    name:this.name,
                    age:this.age,
                    city:this.city
            }
            console.log(userdata);
            
             this.$emit("review-submitted",userdata)
            }
       
         
        }
     }
}
</script>

<style>

</style>