<template>
<div>
        <child v-on:review-submitted="addReview($event)"> </child>
        
        <h2>Details</h2>
        <p v-if="!reviews.length">There are no reviews yet.</p>
        <ul v-else>
            <li v-for="review in reviews" :key="review">
            <p>Name: {{ review.name }}</p>
            <p>Age: {{ review.age }}</p>
            <p>City: {{ review.city }}</p>
            </li>
        </ul>

</div>
</template>

<script>
import child from './Child.vue';

export default {
 data() {
     return {
         reviews: [],
         name:null
     }
 },
    methods:{
        addReview(userdata) {    
        this.reviews.push(userdata)
        }

    },
    components : {
        "child" : child
    }
}
</script>

<style>
</style>