<template>
      <div id="app">    
            <nav>
                <router-link to='/'>Task 1</router-link>
                <router-link to='/task2'>Task 2</router-link>
                <router-link to='/task3'>Task 3</router-link>
                <router-link to='/task4'>Task 4</router-link>
                <router-link to='/task5'>Task 5</router-link>
                <router-link to='/task6'>Task 6</router-link>
                <router-link to='/task7'>Task 7</router-link>
                <router-link to='/task8'>Task 8</router-link>
                <router-view></router-view>
            </nav>       
      </div>
</template>

<script>
  export default {
    
    name: 'app',
    data () {
      return {
        msg: 'Welcome to Your Vue.js App',
        sociallinks:["google.com","fb.com","yahoo.com"],
        Counts:["1","2","3","4","5"],
        Votes:["19","15","73","18","23"]
      }
    },
    methods:{

    }
  }
</script>

<style>
</style>
